:root {
 --default-background: #E9ECEF;
 --secondary-background: #F8F9FA;
 --details-background: #FFFFFF;

 --default-text: #212529;
 --secondary-text: #495057;
 --disabled-text: #7a838b;

 --default-border: #CED4DA;
 --alternative-font: 'Fira Code', monospace;
}

html{scroll-behavior:smooth}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-text);
  border-radius: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

